doctype html
html(lang="en")
	head
		title kidstore
		meta(charset='utf-8')
		meta(name='viewport' content='width=device-width, initial-scale=1')
		script(src='https://code.jquery.com/jquery-2.2.4.min.js', integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=", crossorigin="anonymous")
		link(href='./css/bootstrap.min.css', rel='stylesheet')
		link(href='./css/mycss2.css', rel='stylesheet')
		script(src='./js/bootstrap.min.js')
		script(src='./js/map.js')
	body
		nav.navbar.navbar-collapse
			.container
				#header.navbar-header
					a.navbar-brand(href='#') kidstore
				ul.nav.navbar-nav
					li.active
						a(href='#') Rati
					li
						a(href='#') Auto-kreslini
					li
						a(href='#') Akcijas
					li
						a(href='#') Kontakti
				ul.nav.navbar-nav.navbar-right
					li.active
						a(href='#') LV
					li
						a(href='#') RU
		#smallnav.navbar-header
			.navbar-header
				a.navbar-brand(href='#') kidstore
			button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-navbar', aria-controls='bs-navbar', aria-expanded='false')
				span.glyphicon.glyphicon-align-justify
			nav.navbar-collapse.collapse(id='bs-navbar', aria-expanded='false', style='height: 1px;')
				ul.nav.navbar-nav
					li
						a(href='#') Rati
					li
						a(href='#') Auto-kreslini
					li
						a(href='#') Akcijas
					li
						a(href='#') Kontakti
		//- link to gallery tutorial http://tympanus.net/codrops/2013/03/19/thumbnail-grid-with-expanding-preview/
		.container
			.row
				#item.col-xs-12.col-sm-12.col-md-6.col-lg-6
					img(src='item1.jpeg', class='item')
				#item.col-xs-12.col-sm-12.col-md-6.col-lg-6
					img(src='item1.jpeg', class='item')
			.row
				#item.col-xs-12.col-sm-12.col-md-6.col-lg-6
					img(src='item1.jpeg', class='item')
				#item.col-xs-12.col-sm-12.col-md-6.col-lg-6
					img(src='item1.jpeg', class='item')
			.zoomitem.col-xs-12.col-sm-12.col-md-12.col-lg-12
				#button
					button(type='button', class='btn btn-secondary btn-sm') Filter
						a(href='#')
				#zimg.col-xs-12.col-sm-12.col-md-6.col-lg-6
					img(src='item1.jpeg', id='zoomed')
				#about.col-xs-12.col-sm-12.col-md-6.col-lg-6 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
				#colorvar.col-xs-12.col-sm-12.col-md-12.col-lg-12
					.cvar.col-xs-4.col-sm-4.col-md-2.col-lg-2
						img(src='item1.jpeg', id='colored')
					.cvar.col-xs-4.col-sm-4.col-md-2.col-lg-2
						img(src='item1.jpeg', id='colored')
					.cvar.col-xs-4.col-sm-4.col-md-2.col-lg-2
						img(src='item1.jpeg', id='colored')
		.container
			.row
				#item.col-xs-12.col-sm-12.col-md-6.col-lg-6
					img(src='item1.jpeg', class='item')
				#item.col-xs-12.col-sm-12.col-md-6.col-lg-6
					img(src='item1.jpeg', class='item')
		.container
			.pagenum
				ul.pager
					li
						a(href='#') Previous
					li
						a(href='#') Next
		#footer.container
				#copyright.col-xs-12.col-sm-12.col-md-4.col-lg-4
					h4(id='cprt') 2016
				#adress.col-xs-12.col-sm-12.col-md-4.col-lg-4.col-md-offset-4.col-lg-offset-4
					h4(id='adrs') Veikala adrese