doctype html
html(lang="en")
	head
		title kidstore
		script(src='kidstore.css')
	body
		#bgr2
			div(class='header')
				div(id='navback')
					img(src='testlogo.png')
					div(id='navbar', class='inline')
						div(id='nav1', class='nav')
							img(src='navcircle.jpg', class='navimg')
							h3 Rati
						div(id='nav2', class='nav')
							img(src='navcircle.jpg', class='inline')
							h3 Auto-kresli
						div(id='nav3', class='nav')
							img(src='navcircle.jpg', class='navimg')
							h3 Akcijas
						div(id='nav4', class='nav')
							img(src='navcircle.jpg', class='inline')
							h3 Kontakti
					div(id='langbar')
						div(class='inline') LV
						div(class='inline') RU
			div(class='items')
				img(src='item1.jpeg', class='imgitem')
				img(src='item1.jpeg', class='imgitem')
				img(src='item1.jpeg', class='imgitem')
				img(src='item1.jpeg', class='imgitem')
			div(class='pagenum')
				div(id='prevpg', class='inline') Previous
				div(id='displaypg', class='inline') 2/12
				div(id='nextpg', class='inline') Next
			div(class='footer')
				div(id='copyright') 2016
				div(id='adress') Veikala adrese